asgiref==3.3.1
beautifulsoup4==4.9.3
dj-database-url==0.5.0
Django==3.1.7
django-autocomplete-light==3.8.1
django-bootstrap-v5==1.0.0
django-bootstrap4==2.3.1
django-crispy-forms==1.11.0
django-filter==2.4.0
django-formset-js==0.5.0
django-heroku==0.3.1
django-jquery-js==3.1.1
django-on-heroku==1.1.2
django-tempus-dominus==5.1.2.13
gunicorn==20.0.4
psycopg2==2.8.6
psycopg2-binary==2.8.6
python-dotenv==0.15.0
pytz==2020.5
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
whitenoise==5.2.0
