.select2-container .select2-selection--single {
    height: 40px !important;
    width: ;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 41px !important; 
}