{% extends "apps/base.html" %}
{% load static %}
{% load formset_tags %}
{% block nav %}
<a class="nav-link" id="nav-home-tab" href="{% url 'apps:home' %}" role="tab" aria-controls="nav-home"
    aria-selected="false">Home</a>
<a class="nav-link" id="nav-profile-tab" href="{% url 'apps:pendaftaran' %}" role="tab" aria-controls="nav-profile"
    aria-selected="true">Pendaftaran</a>
<a class="nav-link active" id="nav-contact-tab" href="{% url 'apps:pendataan' %}" role="tab" aria-controls="nav-contact"
    aria-selected="false">Pendataan</a>
{% endblock nav %}

{% block content %}
<!-- Pendaftaran -->
<div class="tab-pane fade show active" id="nav-daftar" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="container-fluid">
        <h4 class="text-muted" style="padding-top: 10px;">Pendataan - Wajib Pajak</h4>
        <div>
            <p>Pilih No Pelayanan</p>
        </div>
        <hr>
        <div class="bg-secondary bg-gradient p-3 text-white">
            <div class="row mb-3 ">
                <label class="col-sm-2 col-form-label">Tanggal Pendaftaran</label>
                <div class="col-sm-3">
                    {{ data.tanggal_pendaftaran}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">No. Pelayanan</label>
                <div class="col-sm-3 class-nopel">
                    {{ data.no_pelayanan}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Nama WP</label>
                <div class="col-sm-3">
                    {{ data.nama}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Kecamatan</label>
                <div class="col-sm-3">
                    {{ data.kecamatan}}
                </div>
                <label class="col-sm-2 col-form-label">Desa</label>
                <div class="col-sm-3">
                    {{ data.desa}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Mutasi</label>
                <div class="col-sm-3">
                    {{ data.mutasi}}
                </div>
                <label class="col-sm-2 col-form-label">Jumlah</label>
                <div class="col-sm-1">
                    {{ data.jumlah}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Keterangan</label>
                <div class="col-sm-3">
                    {{ data.keterangan}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Tanggal Penyelesaian</label>
                <div class="col-sm-3">
                    {{ data.tanggal_selesai}}
                </div>
            </div>
        </div>
        <hr>
        <form method="POST" id="formset" data-formset-prefix="{{ formset.prefix }}">
            {% csrf_token %}
            {{ formset.media }}
            {{ formset.management_form }}
            {{ formset.non_field_errors }}
            <div data-formset-body>
                <!-- New forms will be inserted in here -->
                {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                <div data-formset-form>
                    <div class="row mb-3">
                        {{ form.no_sppt_lama.errors }}
                        <label class="col-sm-2 col-form-label">SPPT Lama</label>
                        <div class="col-sm-4">
                            {{form.no_sppt_lama}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form.nama_wp_lama.errors }}
                        <label class="col-sm-2 col-form-label">Nama Wajib Pajak Lama</label>
                        <div class="col-sm-4">
                            {{form.nama_wp_lama}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form.tarif_lama.errors }}
                        <label class="col-sm-2 col-form-label">Tarif Pajak Lama</label>
                        <div class="col-sm-4">
                            {{form.tarif_lama}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div hidden>{{ form.DELETE }}</div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-sm btn-danger"
                                data-formset-delete-button>Delete</button>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>

            <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
            <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        <div data-formset-form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">SPPT Lama</label>
                                <div class="col-sm-4">
                                    {{formset.empty_form.no_sppt_lama}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Nama Wajib Pajak Lama</label>
                                <div class="col-sm-4">
                                    {{formset.empty_form.nama_wp_lama}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tarif Pajak Lama</label>
                                <div class="col-sm-4">
                                    {{formset.empty_form.tarif_lama}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div hidden>{{ formset.empty_form.DELETE }}</div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-sm btn-danger" data-formset-delete-button>Delete</button>
                                </div>
                            </div>
                        <hr>
                        </div>
                    {% endescapescript %}
                </script>
            <div class="modal-footer">
                <!-- This button will add a new form when clicked -->
                <input type="button" class="btn btn-success" value="Add another" data-formset-add>
                <input type="submit" class="btn btn-primary" value="Save">
            </div>


            <script>jQuery(function ($) {
                    $("#formset").formset({
                        animateForms: true
                    });
                });</script>

        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}