{% extends "apps/base.html" %}
{% load static %}
{% block nav %}
<a class="nav-link" id="nav-home-tab" href="{% url 'apps:home' %}" role="tab" aria-controls="nav-home"
  aria-selected="false">Home</a>
<a class="nav-link active" id="nav-profile-tab" href="{% url 'apps:pendaftaran' %}" role="tab"
  aria-controls="nav-profile" aria-selected="true">Pendaftaran</a>
<a class="nav-link" id="nav-contact-tab" href="{% url 'apps:pendataan' %}" role="tab" aria-controls="nav-contact"
  aria-selected="false">Pendataan</a>
{% endblock nav %}

{% block content %}
<!-- Pendaftaran -->
<div class="tab-pane fade show active" id="nav-daftar" role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="container-fluid">
    <h4 class="text-muted" style="padding-top: 10px;">Pendaftaran - Wajib Pajak</h4>
    <div>
      <!-- Button trigger modal -->
      {% if is_admin %}
      <button type="button" class="btn btn-outline-primary btn-sm show-form"
        data-url="{% url 'apps:daftar_create' %}">Tambah</button>
      <button type="button" class="btn btn-outline-primary btn-sm show-form-update"
        data-url="{% url 'apps:daftar-update' 'x' %}">Edit</button>
      <button type="submit" class="btn btn-outline-danger btn-sm daftar-show-form-delete"
        data-url="{% url 'apps:daftar-delete' %}" id="deletependaftaran">Delete</button>
      {% endif %}
      <div class="btn btn-sm">
        <form class="d-flex" method="GET">
          {{ filtered.form }}
          <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="table-responsive-xl">  
          <table class="table table-striped display" id="table_id">
            <thead>
              <tr>
                <th class="small" scope="col">#</th>
                <th class="small" scope="col">Tanggal</th>
                <th class="small" scope="col">No.Pelayanan</th>
                <th class="small" scope="col">Nama WP</th>
                <th class="small" scope="col">Desa - Kecamatan</th>
                <th class="small" scope="col">Mutasi</th>
                <th class="small" scope="col">Jumlah</th>
                <th class="small" scope="col">Ket.</th>
                <th class="small" scope="col">Tanggal Penyelesaian</th>
                {% if is_admin %}
                <th class="small" scope="col">kontak</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% csrf_token %}
              {% include "apps/daftar_list.html" %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
      
          {% if pages.has_other_pages %}
          <ul class="pagination justify-content-end">
            {% if pages.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?={{ pages.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            {% endif %}
            {% for i in pages.paginator.page_range %}
              {% if pages.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if pages.has_next %}
            <li class="page-item">
              <a class="page-link" href="?={{ pages.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
            {% endif %}
          </ul>
          {% endif %}
    </nav>
    <!-- Modal Export Pendaftaran-->
    <div class="modal fade" id="modalexportPendaftaran" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Export to ...</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Tekan tombol download untuk export file
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
            <a href="#" type="button" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Tambah-->
    <div class="modal fade" id="crud-modal" data-bs-backdrop="static" data-bs-keyboard="false"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl ">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Pendaftaran-->
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>

<script src="{% static 'js/main.js' %}"></script>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
  } );
</script>

{% endblock javascript %}