{% load humanize %}

{% for data in data_daftars %}
    {% for nopel in sppt_lamas %}
        {% if nopel.no_pelayanan.no_pelayanan == data.no_pelayanan %}
            {% ifchanged data.no_pelayanan %}
            <tr id="{{data.no_sppt_lama}}">
                <td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="{{data.no_sppt_lama}}" aria-label="..."></td>
                <td>{{nopel.no_pelayanan.no_pelayanan}}</td>
                <td>{{nopel.no_pelayanan.nama}}</td>
                {% if nopel.no_sppt_lama == None %}
                    <td></td>
                {% else %}
                    <td>{{nopel.no_sppt_lama}}</td>
                {% endif %}
                <td>{{nopel.nama_wp_lama}}</td>
                {% if nopel.tarif_lama == None %}
                    <td></td>
                {% else %}
                    <td>Rp. {{nopel.tarif_lama|floatformat:2|intcomma}}</td>
                {% endif %}
            {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                {% if nopel.no_sppt_lama == None %}
                    <td></td>
                {% else %}
                    <td>{{nopel.no_sppt_lama}}</td>
                {% endif %}
                <td>{{nopel.nama_wp_lama}}</td>
                {% if nopel.tarif_lama == None %}
                    <td></td>
                {% else %}
                    <td>Rp. {{nopel.tarif_lama|floatformat:2|intcomma}}</td>
                {% endif %}
            {% endifchanged %}
                {% for x in sppt_barus %}
                    {% if x.sppt_lama.no_sppt_lama == nopel.no_sppt_lama %}
                        {% ifchanged x.sppt_lama.no_sppt_lama %}
                            {% if x.no_sppt_baru == None %}
                                <td></td>
                            {% else %}
                                <td>{{x.no_sppt_baru}}</td>
                            {% endif %}
                            <td>{{x.nama_wp_baru}}</td>
                            {% if x.tarif_baru == None %}
                                <td></td>
                            {% else %}
                                <td>Rp. {{x.tarif_baru|floatformat:2|intcomma}}</td>
                            {% endif %}
                            <td>{{x.keterangan}}</td>
                            <td>{{x.transaksi}}</td>
                            {% if x.luas_tanah == None %}
                                <td></td>
                            {% else %}
                                <td>{{x.luas_tanah}}</td>
                            {% endif %}
                            {% if x.luas_bangunan == None %}
                                <td></td>
                            {% else %}
                                <td>{{x.luas_bangunan}}</td>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                {% if x.no_sppt_baru == None %}
                                <td></td>
                                {% else %}
                                    <td>{{x.no_sppt_baru}}</td>
                                {% endif %}
                                <td>{{x.nama_wp_baru}}</td>
                                {% if x.tarif_baru == None %}
                                    <td></td>
                                {% else %}
                                    <td>Rp. {{x.tarif_baru|floatformat:2|intcomma}}</td>
                                {% endif %}
                                <td>{{x.keterangan}}</td>
                                <td>{{x.transaksi}}</td>
                                {% if x.luas_tanah == None %}
                                    <td></td>
                                {% else %}
                                    <td>{{x.luas_tanah}}</td>
                                {% endif %}
                                {% if x.luas_bangunan == None %}
                                    <td></td>
                                {% else %}
                                    <td>{{x.luas_bangunan}}</td>
                                {% endif %}
                            </tr>
                        {% endifchanged %}
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% empty %}
    <tr>
        <td colspan="10" class="text-center">No Data Pendaftaran</td>
    </tr>
    {% endfor %}
{% endfor %}
